npm-debug.log
node_modules
coverage
dist
.nyc_output
.env*
tnsnames.ora
sqlnet.ora
wallet
instantclient
sets*
volume/oracle/sqlnet.ora.appt
volume/oracle/tnsnames.ora.appt
volume/oracle/tnsnames.ora.tammi
volume/oracle/tnsnames.ora.kuusi
